
        @font-face {
            font-family: "8bit16.ttf";
            src: url("8bit16.ttf");
        }
        body{
            background-color:#343434;
            color: chocolate;
            text-align: center;
            font-family: "8bit16.ttf";
        }
        h1, p{
            padding: 0;
            margin: 0;
        }
        p{
            font-size: 25px;
            padding-top: 10px;
        }
        div{
           width: 810px;
           margin: 0 auto; 
           font-weight: bold;
        }
        canvas{
            display: block;
            margin: 0 auto;
            background-color: black;
            border: medium solid whitesmoke;
        }
